<ion-header>
  <ion-toolbar>
    <ion-title>Top 25 Drugs</ion-title>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Top 25 Drugs</h1>
                <p>The table below will discuss the top 25 drugs that you could encounter everyday as 
                    a pharmacy technician. Of course there are others out there that you will see, but these 
                    are what is call "fast-moving drugs". Meaning they are the ones that are most commonly
                    prescribed by physicians. 
                </p>
                <!--Table will be centered and has the top 25 drugs to study-->
                <center><table border="10"></center>
                    <tr>
                        <td><strong>Generic Name</strong></td>
                        <td><strong>Brand Name</strong></td>
                        <td><strong>Purpose</strong></td>
                    </tr>
                    <tr>
                        <td>Levothyroxine</td>
                        <td>Synthroid</td>
                        <td>Thyroid Hormone</td>
                    </tr>
                    <tr>
                        <td>Hydrocodone/Acetaminophen</td>
                        <td>Vicodin</td>
                        <td>Pain Relief</td>
                    </tr>
                    <tr>
                        <td>Amoxicillin</td>
                        <td>Amoxil</td>
                        <td>Antibiotic</td>
                    </tr>
                    <tr>
                        <td>Lisinopril</td>
                        <td>Prinivil</td>
                        <td>A.C.E Inhibitor</td>
                    </tr>
                    <tr>
                        <td>Esomeprazole</td>
                        <td>Nexium</td>
                        <td>G.E.R.D</td>
                    </tr>
                    <tr>
                        <td>Atorvastatin</td>
                        <td>Lipitor</td>
                        <td>Cholesterol</td>
                    </tr>
                    <tr>
                        <td>Simvastatin</td>
                        <td>Zocor</td>
                        <td>Cholesterol</td>
                    </tr>
                    <tr>
                        <td>Clopidogrel</td>
                        <td>Plavix</td>
                        <td>Antiplatelet</td>
                    </tr>
                    <tr>
                        <td>Montelukast</td>
                        <td>Singulair</td>
                        <td>Asthma</td>
                    </tr>
                    <tr>
                        <td>Rosuvastatin</td>
                        <td>Crestor</td>
                        <td>Cholesterol</td>
                    </tr>
                    <tr>
                        <td>Metoprolol</td>
                        <td>Lopressor</td>
                        <td>Beta Blocker</td>
                    </tr>
                    <tr>
                        <td>Escitalopram</td>
                        <td>Lexapro</td>
                        <td>Antidepressant</td>
                    </tr>
                    <tr>
                        <td>Azithromycin</td>
                        <td>Zithromax</td>
                        <td>Antibiotic</td>
                    </tr>
                    <tr>
                        <td>Albuterol</td>
                        <td>Proair H.F.A</td>
                        <td>Asthma Inhaler</td>
                    </tr>
                    <tr>
                        <td>Hydrochlorothiazide</td>
                        <td>HCTZ</td>
                        <td>Diuretic</td>
                    </tr>
                    <tr>
                        <td>Metformin</td>
                        <td>Glucophage</td>
                        <td>Antidiabetic</td>
                    </tr>
                    <tr>
                        <td>Sertraline</td>
                        <td>Zoloft</td>
                        <td>Antidepressant</td>
                    </tr>
                    <tr>
                        <td>Ibuprofen</td>
                        <td>Advil</td>
                        <td>N.S.A.I.D</td>
                    </tr>
                    <tr>
                        <td>Zolpidem</td>
                        <td>Ambien</td>
                        <td>Insomnia</td>
                    </tr>
                    <tr>
                        <td>Furosemide</td>
                        <td>Lasix</td>
                        <td>Diuretic</td>
                    </tr>
                    <tr>
                        <td>Omeprazole</td>
                        <td>Prilosec</td>
                        <td>G.E.R.D</td>
                    </tr>
                    <tr>
                        <td>Trazodone</td>
                        <td>Desyrel</td>
                        <td>Antidepressant</td>
                    </tr>
                    <tr>
                        <td>Valsartan</td>
                        <td>Diovan</td>
                        <td>A.2.R.B</td>
                    </tr>
                    <tr>
                        <td>Tramadol</td>
                        <td>Ultram</td>
                        <td>Pain Relief</td>
                    </tr>
                    <tr>
                        <td>Duloxetine</td>
                        <td>Cymbalta</td>
                        <td>Antidepressant</td>
                    </tr>

                </table>


</ion-content>
