<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pharm Tech Study Guide
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Welcome to the Pharm Tech Study!</h1>

  <ion-grid>
    <ion-row class="pharm-wel">
      <ion-col size="4">
        <ion-img width="100%" height="100%" src="../../assets/pharmacy.jpg"></ion-img>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  <p>Welcome to Pharm Tech Study guide! A application to help you learn the basics that you will need for 
    your pharmacy technician exam. Hit the "Study" at the bottom of the page to pull up a list of the 
    top 25 drugs that you should know!
  </p>
  
</ion-content>