<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Thank you for visiting!</h1>
  <p>My name is Andrew and I am a Certified Pharmacy Technician. I decided to create this 
    app to help aspiring pharmacy technicians to have a little pocket guide when they are on 
    the go and trying to study. There are many different things to remember for the exam and 
    I hope that this will help you along the way. 
  </p>
</ion-content>
